---
import LibraryIcon from "../icons/Library.astro";
import HomeIcon from "../icons/Home.astro";
import SearchIcon from "../icons/Search.astro";
import SideMenuItem from "./SideMenuItem.astro";
---

<nav class="flex flex-1 flex-col gap-2">
  <div class="rounded-lg bg-zinc-900 p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Home
      </SideMenuItem>

      <SideMenuItem href="/search">
        <SearchIcon />
        Search
      </SideMenuItem>
    </ul>
  </div>

  <div class="rounded-lg bg-zinc-900 p-2 flex-1" >
    <SideMenuItem href="/">
      <LibraryIcon />
      Tú biblioteca
    </SideMenuItem>
  </div>
</nav>
